<div class = "nav">
	<img class ="logo" src="http://www.emberitas.com/images/emberitas_white-55bd77cf88dc436a6ebd9efa77512f5e.png" alt = "emberitas">
</div>


<div class="content">

	{{#link-to 'profile'}}
		View Profile
	{{/link-to}}
<br>

  {{outlet}}
</div>